<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>HOME</title>
    <style>
        body {
            background-image: url("https://lh3.googleusercontent.com/pw/ADCreHcYoEdQD90M6thQv96hSZr0CqZkTFJUBbtjGIKFe7ELFUNNO8q_foJqA1S0-1IqPUUDnodWgX5j0jXovPWU-rPzUXt3o7Qb0u6Pjm4LwJRy5TIRN0-itZpPyVqrh7qDxKslLx40or50rhozRcYmgj6M9OnQKxafskPQq2U-i6a1CyVoqE6MzraJCDmn6NmoXmAZBVygbGk-OqiRm_vFVdPJBjnCLkdyAzc82fguxdN3vwTc4SO_Si7tbRDCOeMtXuMviXdohnsa_Z16y1zJNOUkvdWoX-P5OLE_t7T7UVKsobmSN7-xoayZQlun7EUYo88_gmam4zeVItCWHeytpmyyNECiCHlOCaeEqIwfTDeyJrOWhwgsrUK5B3OC_ZZFlQ59yyNpuD6Xz-mv8bSXU9tr8ITpQp-UQ3tVzU1Y2vqnzfUSLoulhuXydex2DkS43NNYgHpnbm-DJ7Y-Ey3xVes6XxyQq7WAjeUsGVnhJq8KPVdpNwu_P9RamZdCwRAisA38wsW4OFcb2FZu5dvh8Tnevpb4qe9eHiJ_QauE1krPAXALdZfjjtcB3nMh7cqJuPfiWqWMRlsJdXrD3vXiUKMeCg-9OAvM1OxF19NZ7FR5rVMBn4VXMwWaeO7oRPW29ZYz9y6faRZfQ-jZNrP7VdX-LHIX5M_BKG8YmvjuK21PfULDO4XKLEElMScVnPDZ11T_Q-_NDnGalKrLlilSjO50ulVbQmxJFacMpfaOF_FgXX_PeKvtW3zB_PA50VjYzDCNRuFnjoOzp4zaz5Okfgh7i-WTI9fFBBz61jYFtmAZSj_xyb8HMHUJl7teZ0EwaIUFEUYQfvuxiSE03MU6y8u2wq_0u6QPIF9j24vqwqj2h9WryWPvMiS1ZybEehsBQpr8D1_kWXfItQmjMq2h7pmv=w2500-h1667-s-no?authuser=0");
            background-size: cover;
            background-repeat: no-repeat;
            height: 100vh;
            background-position: center;
            background-attachment: fixed;
        }
      </style>
</head>
<body>
  <nav class="navbar navbar-expand-lg bg-black opacity-75 " data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">HaPo</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 justify-content-center">
         
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/references">Referenzen</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Media
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/audio">Audio</a></li>
              <li><a class="dropdown-item" href="/video">Video</a></li>
              <li><a class="dropdown-item" href="/pics">Bilder</a></li>
              
            </ul>
          </li>
          <li class="nav-item" id="nav-item-over">
            <a class="nav-link active"  aria-current="page" href="/contact">Kontakt</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Impressum</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

      <div class="container-sm"  style="margin-top: 10%;">
        <div class="card bg-dark mx-auto text-center" style="width: 30rem;">
            <div class="card-body" style="color:white">
              <h5 class="card-title">Kontakt</h5>
              <p class="card-text">Ich freue mich von euch zu hören wenn ihr Feedback geben, zusammen arbeiten oder einfach nur quatschen wollt!</p>
              <a href="mailto:hannes.porombka@gmail.com" class="card-link">Email</a>
              <a href="https://www.instagram.com/iamhapo/" class="card-link">Instagram</a>
            </div>
          </div>
    </div>


   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
 
</body>

</html>