<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="../app.css" rel="stylesheet">
    <title>Media</title>
    <style>
        body {
            background-image: url("/images/Backgrounds/Home.jpg");
            background-size: cover;
            background-repeat: no-repeat;
            height: 100vh;
            background-position: center;
            background-attachment: fixed;
            color: white;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-black opacity-75 " data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">HaPo</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 justify-content-center">

                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/references">Referenzen</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Media
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/audio">Audio</a></li>
                            <li><a class="dropdown-item" href="/video">Video</a></li>
                            <li><a class="dropdown-item" href="/pics">Bilder</a></li>
                        </ul>
                    </li>
                    <li class="nav-item" id="nav-item-over">
                        <a class="nav-link active" aria-current="page" href="/contact">Kontakt</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/impressum">Impressum</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    <div class="container-sm" style="margin-top: 5%;">
        <div class="card bg-dark mx-auto text-center" style="width: 30rem;">
            <div class="card-body" style="color:white">
                <h5 class="card-title">Impressum</h5>
                <p class="card-text">
                    Verantwortlich für den Inhalt dieser Website: <br>
                    Hannes Porombka <br>
                    Weingasse 17 <br>
                    55435 Gau-Algesheim <br><br>

                </p>
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2566.832709047143!2d8.013380212004316!3d49.95824057138348!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47bdec382186cf67%3A0x6fac1f00e1eeca79!2sWeingasse%2017%2C%2055435%20Gau-Algesheim!5e0!3m2!1sde!2sde!4v1695849158531!5m2!1sde!2sde"
                    width="280" height="280" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
                <p>

                    Tel.: 01633436479 <br>
                    E-Mail: hannes.porombka@gmail.com <br><br>


                    Plattform der EU-Kommission zur Online-Streitbeilegung: https://ec.europa.eu/odr <br>

                    Wir sind zur Teilnahme an einem Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle
                    nicht verpflichtet, hierzu jedoch bereit. <br> <br>

                    1. WARNHINWEIS ZU INHALTEN <br>
                    Die kostenlosen und frei zugänglichen Inhalte dieser Webseite wurden mit größtmöglicher Sorgfalt
                    erstellt. Der Anbieter dieser Webseite übernimmt jedoch keine Gewähr für die Richtigkeit und
                    Aktualität der bereitgestellten kostenlosen und frei zugänglichen journalistischen Ratgeber und
                    Nachrichten. Namentlich gekennzeichnete Beiträge geben die Meinung des jeweiligen Autors und nicht
                    immer die Meinung des Anbieters wieder. Allein durch den Aufruf der kostenlosen und frei
                    zugänglichen Inhalte kommt keinerlei Vertragsverhältnis zwischen dem Nutzer und dem Anbieter
                    zustande, insoweit fehlt es am Rechtsbindungswillen des Anbieters. <br><br>

                    2. EXTERNE LINKS <br>
                    Diese Website enthält Verknüpfungen zu Websites Dritter („externe Links“). Diese Websites
                    unterliegen der Haftung der jeweiligen Betreiber. Der Anbieter hat bei der erstmaligen Verknüpfung
                    der externen Links die fremden Inhalte daraufhin überprüft, ob etwaige Rechtsverstöße bestehen. Zu
                    dem Zeitpunkt waren keine Rechtsverstöße ersichtlich. Der Anbieter hat keinerlei Einfluss auf die
                    aktuelle und zukünftige Gestaltung und auf die Inhalte der verknüpften Seiten. Das Setzen von
                    externen Links bedeutet nicht, dass sich der Anbieter die hinter dem Verweis oder Link liegenden
                    Inhalte zu Eigen macht. Eine ständige Kontrolle der externen Links ist für den Anbieter ohne
                    konkrete Hinweise auf Rechtsverstöße nicht zumutbar. Bei Kenntnis von Rechtsverstößen werden jedoch
                    derartige externe Links unverzüglich gelöscht. <br><br>

                    3. URHEBER- UND LEISTUNGSSCHUTZRECHTE <br>
                    Die auf dieser Website veröffentlichten Inhalte unterliegen dem deutschen Urheber- und
                    Leistungsschutzrecht. Jede vom deutschen Urheber- und Leistungsschutzrecht nicht zugelassene
                    Verwertung bedarf der vorherigen schriftlichen Zustimmung des Anbieters oder jeweiligen
                    Rechteinhabers. Dies gilt insbesondere für Vervielfältigung, Bearbeitung, Übersetzung,
                    Einspeicherung, Verarbeitung bzw. Wiedergabe von Inhalten in Datenbanken oder anderen elektronischen
                    Medien und Systemen. Inhalte und Rechte Dritter sind dabei als solche gekennzeichnet. Die unerlaubte
                    Vervielfältigung oder Weitergabe einzelner Inhalte oder kompletter Seiten ist nicht gestattet und
                    strafbar. Lediglich die Herstellung von Kopien und Downloads für den persönlichen, privaten und
                    nicht kommerziellen Gebrauch ist erlaubt. <br><br>

                    Die Darstellung dieser Website in fremden Frames ist nur mit schriftlicher Erlaubnis zulässig.</p>
            </div>
        </div>
    </div>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>

</body>

</html>