<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="../app.css" rel="stylesheet">
    <title>Impressum</title>
    <style>
        body {
            background-image: url("/images/Backgrounds/Home.jpg");
            background-size: cover;
            background-repeat: no-repeat;
            height: 100vh;
            background-position: center;
            background-attachment: fixed;
            color: white;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-black opacity-75 " data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">HaPo</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 justify-content-center">

                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/references">Referenzen</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Media
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/audio">Audio</a></li>
                            <li><a class="dropdown-item" href="/video">Video</a></li>
                            <li><a class="dropdown-item" href="/pics">Bilder</a></li>
                        </ul>
                    </li>
                    <li class="nav-item" id="nav-item-over">
                        <a class="nav-link active" aria-current="page" href="/contact">Kontakt</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/impressum">Impressum</a>
                    </li>
                </ul>
                <span class="navbar-text" style="font-size: x-small !important;">
                    Background Foto: Calvin Mueller
                  </span>
            </div>
        </div>
    </nav>


    <div class="container-sm" style="margin-top: 5%;">
        <div class="card bg-dark mx-auto text-center" style="width: 30rem;">
            <div class="card-body" style="color:white">
                <h5 class="card-title">Impressum</h5>
                <p class="card-text">
                    Verantwortlich für den Inhalt dieser Website: <br>
                    Hannes Porombka <br>
                    Weingasse 17 <br>
                    55435 Gau-Algesheim <br><br>

                </p>
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2566.832709047143!2d8.013380212004316!3d49.95824057138348!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47bdec382186cf67%3A0x6fac1f00e1eeca79!2sWeingasse%2017%2C%2055435%20Gau-Algesheim!5e0!3m2!1sde!2sde!4v1695849158531!5m2!1sde!2sde"
                    width="280" height="280" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
                <p>

                    Tel.: 01633436479 <br>
                    E-Mail: hannes.porombka@gmail.com <br><br>


                    Plattform der EU-Kommission zur Online-Streitbeilegung: https://ec.europa.eu/odr <br>

                    Wir sind zur Teilnahme an einem Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle
                    nicht verpflichtet, hierzu jedoch bereit. <br> <br>

                    1. WARNHINWEIS ZU INHALTEN <br>
                    Die kostenlosen und frei zugänglichen Inhalte dieser Webseite wurden mit größtmöglicher Sorgfalt
                    erstellt. Der Anbieter dieser Webseite übernimmt jedoch keine Gewähr für die Richtigkeit und
                    Aktualität der bereitgestellten kostenlosen und frei zugänglichen journalistischen Ratgeber und
                    Nachrichten. Namentlich gekennzeichnete Beiträge geben die Meinung des jeweiligen Autors und nicht
                    immer die Meinung des Anbieters wieder. Allein durch den Aufruf der kostenlosen und frei
                    zugänglichen Inhalte kommt keinerlei Vertragsverhältnis zwischen dem Nutzer und dem Anbieter
                    zustande, insoweit fehlt es am Rechtsbindungswillen des Anbieters. <br><br>

                    2. EXTERNE LINKS <br>
                    Diese Website enthält Verknüpfungen zu Websites Dritter („externe Links“). Diese Websites
                    unterliegen der Haftung der jeweiligen Betreiber. Der Anbieter hat bei der erstmaligen Verknüpfung
                    der externen Links die fremden Inhalte daraufhin überprüft, ob etwaige Rechtsverstöße bestehen. Zu
                    dem Zeitpunkt waren keine Rechtsverstöße ersichtlich. Der Anbieter hat keinerlei Einfluss auf die
                    aktuelle und zukünftige Gestaltung und auf die Inhalte der verknüpften Seiten. Das Setzen von
                    externen Links bedeutet nicht, dass sich der Anbieter die hinter dem Verweis oder Link liegenden
                    Inhalte zu Eigen macht. Eine ständige Kontrolle der externen Links ist für den Anbieter ohne
                    konkrete Hinweise auf Rechtsverstöße nicht zumutbar. Bei Kenntnis von Rechtsverstößen werden jedoch
                    derartige externe Links unverzüglich gelöscht. <br><br>

                    3. URHEBER- UND LEISTUNGSSCHUTZRECHTE <br>
                    Die auf dieser Website veröffentlichten Inhalte unterliegen dem deutschen Urheber- und
                    Leistungsschutzrecht. Jede vom deutschen Urheber- und Leistungsschutzrecht nicht zugelassene
                    Verwertung bedarf der vorherigen schriftlichen Zustimmung des Anbieters oder jeweiligen
                    Rechteinhabers. Dies gilt insbesondere für Vervielfältigung, Bearbeitung, Übersetzung,
                    Einspeicherung, Verarbeitung bzw. Wiedergabe von Inhalten in Datenbanken oder anderen elektronischen
                    Medien und Systemen. Inhalte und Rechte Dritter sind dabei als solche gekennzeichnet. Die unerlaubte
                    Vervielfältigung oder Weitergabe einzelner Inhalte oder kompletter Seiten ist nicht gestattet und
                    strafbar. Lediglich die Herstellung von Kopien und Downloads für den persönlichen, privaten und
                    nicht kommerziellen Gebrauch ist erlaubt. <br><br>

                    Die Darstellung dieser Website in fremden Frames ist nur mit schriftlicher Erlaubnis zulässig.</p>




                <h1>Datenschutzerklärung</h1>
                <h2 id="m716">Präambel</h2>
                <p>Mit der folgenden Datenschutzerklärung möchten wir Sie darüber aufklären, welche Arten Ihrer
                    personenbezogenen Daten (nachfolgend auch kurz als "Daten" bezeichnet) wir zu welchen Zwecken und in
                    welchem Umfang verarbeiten. Die Datenschutzerklärung gilt für alle von uns durchgeführten
                    Verarbeitungen personenbezogener Daten, sowohl im Rahmen der Erbringung unserer Leistungen als auch
                    insbesondere auf unseren Webseiten, in mobilen Applikationen sowie innerhalb externer
                    Onlinepräsenzen, wie z. B. unserer Social-Media-Profile (nachfolgend zusammenfassend bezeichnet als
                    "Onlineangebot").</p>
                <p>Die verwendeten Begriffe sind nicht geschlechtsspezifisch.</p>

                <p>Stand: 27. September 2023</p>
                <h2>Inhaltsübersicht</h2>
                <ul class="index">
                    <li><a class="index-link" href="#m716">Präambel</a></li>
                    <li><a class="index-link" href="#m3">Verantwortlicher</a></li>
                    <li><a class="index-link" href="#mOverview">Übersicht der Verarbeitungen</a></li>
                    <li><a class="index-link" href="#m2427">Maßgebliche Rechtsgrundlagen</a></li>
                    <li><a class="index-link" href="#m27">Sicherheitsmaßnahmen</a></li>
                    <li><a class="index-link" href="#m25">Übermittlung von personenbezogenen Daten</a></li>
                    <li><a class="index-link" href="#m24">Internationale Datentransfers</a></li>
                    <li><a class="index-link" href="#m12">Löschung von Daten</a></li>
                    <li><a class="index-link" href="#m10">Rechte der betroffenen Personen</a></li>
                    <li><a class="index-link" href="#m225">Bereitstellung des Onlineangebotes und Webhosting</a></li>
                    <li><a class="index-link" href="#m136">Präsenzen in sozialen Netzwerken (Social Media)</a></li>
                    <li><a class="index-link" href="#m15">Änderung und Aktualisierung der Datenschutzerklärung</a></li>
                    <li><a class="index-link" href="#m42">Begriffsdefinitionen</a></li>
                </ul>
                <h2 id="m3">Verantwortlicher</h2>
                <p>Hanns Porombka<br>Weingasse 17<br>55435 Gau-Algesheim</p>
                E-Mail-Adresse: <p><a href="mailto:hannes.porombka@gmail.com">hannes.porombka@gmail.com</a></p>

                <h2 id="mOverview">Übersicht der Verarbeitungen</h2>
                <p>Die nachfolgende Übersicht fasst die Arten der verarbeiteten Daten und die Zwecke ihrer Verarbeitung
                    zusammen und verweist auf die betroffenen Personen.</p>
                <h3>Arten der verarbeiteten Daten</h3>
                <ul>
                    <li>Kontaktdaten.</li>
                    <li>Inhaltsdaten.</li>
                    <li>Nutzungsdaten.</li>
                    <li>Meta-, Kommunikations- und Verfahrensdaten.</li>
                </ul>
                <h3>Kategorien betroffener Personen</h3>
                <ul>
                    <li>Nutzer.</li>
                </ul>
                <h3>Zwecke der Verarbeitung</h3>
                <ul>
                    <li>Kontaktanfragen und Kommunikation.</li>
                    <li>Sicherheitsmaßnahmen.</li>
                    <li>Feedback.</li>
                    <li>Marketing.</li>
                    <li>Bereitstellung unseres Onlineangebotes und Nutzerfreundlichkeit.</li>
                    <li>Informationstechnische Infrastruktur.</li>
                </ul>
                <h2 id="m2427">Maßgebliche Rechtsgrundlagen</h2>
                <h2 id="m27">Sicherheitsmaßnahmen</h2>
                <p>Wir treffen nach Maßgabe der gesetzlichen Vorgaben unter Berücksichtigung des Stands der Technik, der
                    Implementierungskosten und der Art, des Umfangs, der Umstände und der Zwecke der Verarbeitung sowie
                    der unterschiedlichen Eintrittswahrscheinlichkeiten und des Ausmaßes der Bedrohung der Rechte und
                    Freiheiten natürlicher Personen geeignete technische und organisatorische Maßnahmen, um ein dem
                    Risiko angemessenes Schutzniveau zu gewährleisten.</p>
                <p>Zu den Maßnahmen gehören insbesondere die Sicherung der Vertraulichkeit, Integrität und Verfügbarkeit
                    von Daten durch Kontrolle des physischen und elektronischen Zugangs zu den Daten als auch des sie
                    betreffenden Zugriffs, der Eingabe, der Weitergabe, der Sicherung der Verfügbarkeit und ihrer
                    Trennung. Des Weiteren haben wir Verfahren eingerichtet, die eine Wahrnehmung von
                    Betroffenenrechten, die Löschung von Daten und Reaktionen auf die Gefährdung der Daten
                    gewährleisten. Ferner berücksichtigen wir den Schutz personenbezogener Daten bereits bei der
                    Entwicklung bzw. Auswahl von Hardware, Software sowie Verfahren entsprechend dem Prinzip des
                    Datenschutzes, durch Technikgestaltung und durch datenschutzfreundliche Voreinstellungen.</p>
                <p>TLS/SSL-Verschlüsselung (https): Um die Daten der Benutzer, die über unsere Online-Dienste übertragen
                    werden, zu schützen, verwenden wir TLS/SSL-Verschlüsselung. Secure Sockets Layer (SSL) ist die
                    Standardtechnologie zur Sicherung von Internetverbindungen durch Verschlüsselung der zwischen einer
                    Website oder App und einem Browser (oder zwischen zwei Servern) übertragenen Daten. Transport Layer
                    Security (TLS) ist eine aktualisierte und sicherere Version von SSL. Hyper Text Transfer Protocol
                    Secure (HTTPS) wird in der URL angezeigt, wenn eine Website durch ein SSL/TLS-Zertifikat gesichert
                    ist.</p>

                <h2 id="m25">Übermittlung von personenbezogenen Daten</h2>
                <p>Im Rahmen unserer Verarbeitung von personenbezogenen Daten kommt es vor, dass die Daten an andere
                    Stellen, Unternehmen, rechtlich selbstständige Organisationseinheiten oder Personen übermittelt oder
                    sie ihnen gegenüber offengelegt werden. Zu den Empfängern dieser Daten können z. B. mit IT-Aufgaben
                    beauftragte Dienstleister oder Anbieter von Diensten und Inhalten, die in eine Webseite eingebunden
                    werden, gehören. In solchen Fällen beachten wir die gesetzlichen Vorgaben und schließen insbesondere
                    entsprechende Verträge bzw. Vereinbarungen, die dem Schutz Ihrer Daten dienen, mit den Empfängern
                    Ihrer Daten ab.</p>

                <h2 id="m24">Internationale Datentransfers</h2>
                <h2 id="m12">Löschung von Daten</h2>
                <p>Die von uns verarbeiteten Daten werden nach Maßgabe der gesetzlichen Vorgaben gelöscht, sobald deren
                    zur Verarbeitung erlaubten Einwilligungen widerrufen werden oder sonstige Erlaubnisse entfallen (z.
                    B. wenn der Zweck der Verarbeitung dieser Daten entfallen ist oder sie für den Zweck nicht
                    erforderlich sind). Sofern die Daten nicht gelöscht werden, weil sie für andere und gesetzlich
                    zulässige Zwecke erforderlich sind, wird deren Verarbeitung auf diese Zwecke beschränkt. D. h., die
                    Daten werden gesperrt und nicht für andere Zwecke verarbeitet. Das gilt z. B. für Daten, die aus
                    handels- oder steuerrechtlichen Gründen aufbewahrt werden müssen oder deren Speicherung zur
                    Geltendmachung, Ausübung oder Verteidigung von Rechtsansprüchen oder zum Schutz der Rechte einer
                    anderen natürlichen oder juristischen Person erforderlich ist. Unsere Datenschutzhinweise können
                    ferner weitere Angaben zu der Aufbewahrung und Löschung von Daten beinhalten, die für die jeweiligen
                    Verarbeitungen vorrangig gelten.</p>

                <h2 id="m10">Rechte der betroffenen Personen</h2>
                <h2 id="m225">Bereitstellung des Onlineangebotes und Webhosting</h2>
                <p>Wir verarbeiten die Daten der Nutzer, um ihnen unsere Online-Dienste zur Verfügung stellen zu können.
                    Zu diesem Zweck verarbeiten wir die IP-Adresse des Nutzers, die notwendig ist, um die Inhalte und
                    Funktionen unserer Online-Dienste an den Browser oder das Endgerät der Nutzer zu übermitteln.</p>
                <ul class="m-elements">
                    <li><strong>Verarbeitete Datenarten:</strong> Nutzungsdaten (z. B. besuchte Webseiten, Interesse an
                        Inhalten, Zugriffszeiten); Meta-, Kommunikations- und Verfahrensdaten (z. .B. IP-Adressen,
                        Zeitangaben, Identifikationsnummern, Einwilligungsstatus).</li>
                    <li><strong>Betroffene Personen:</strong> Nutzer (z. .B. Webseitenbesucher, Nutzer von
                        Onlinediensten).</li>
                    <li><strong>Zwecke der Verarbeitung:</strong> Bereitstellung unseres Onlineangebotes und
                        Nutzerfreundlichkeit; Informationstechnische Infrastruktur (Betrieb und Bereitstellung von
                        Informationssystemen und technischen Geräten (Computer, Server etc.).). Sicherheitsmaßnahmen.
                    </li>
                    <li class=""><strong>Rechtsgrundlagen:</strong> Berechtigte Interessen (Art. 6 Abs. 1 S. 1 lit. f)
                        DSGVO).</li>
                </ul>
                <p><strong>Weitere Hinweise zu Verarbeitungsprozessen, Verfahren und Diensten:</strong></p>
                <ul class="m-elements">
                    <li><strong>Bereitstellung Onlineangebot auf gemietetem Speicherplatz: </strong>Für die
                        Bereitstellung unseres Onlineangebotes nutzen wir Speicherplatz, Rechenkapazität und Software,
                        die wir von einem entsprechenden Serveranbieter (auch "Webhoster" genannt) mieten oder
                        anderweitig beziehen; <span class=""><strong>Rechtsgrundlagen:</strong> Berechtigte Interessen
                            (Art. 6 Abs. 1 S. 1 lit. f) DSGVO).</span></li>
                    <li><strong>Erhebung von Zugriffsdaten und Logfiles: </strong>Der Zugriff auf unser Onlineangebot
                        wird in Form von so genannten "Server-Logfiles" protokolliert. Zu den Serverlogfiles können die
                        Adresse und Name der abgerufenen Webseiten und Dateien, Datum und Uhrzeit des Abrufs,
                        übertragene Datenmengen, Meldung über erfolgreichen Abruf, Browsertyp nebst Version, das
                        Betriebssystem des Nutzers, Referrer URL (die zuvor besuchte Seite) und im Regelfall IP-Adressen
                        und der anfragende Provider gehören. Die Serverlogfiles können zum einen zu Zwecken der
                        Sicherheit eingesetzt werden, z. B., um eine Überlastung der Server zu vermeiden (insbesondere
                        im Fall von missbräuchlichen Angriffen, sogenannten DDoS-Attacken) und zum anderen, um die
                        Auslastung der Server und ihre Stabilität sicherzustellen; <span
                            class=""><strong>Rechtsgrundlagen:</strong> Berechtigte Interessen (Art. 6 Abs. 1 S. 1 lit.
                            f) DSGVO). </span><strong>Löschung von Daten:</strong> Logfile-Informationen werden für die
                        Dauer von maximal 30 Tagen gespeichert und danach gelöscht oder anonymisiert. Daten, deren
                        weitere Aufbewahrung zu Beweiszwecken erforderlich ist, sind bis zur endgültigen Klärung des
                        jeweiligen Vorfalls von der Löschung ausgenommen.</li>
                </ul>
                <h2 id="m136">Präsenzen in sozialen Netzwerken (Social Media)</h2>
                <p>Wir unterhalten Onlinepräsenzen innerhalb sozialer Netzwerke und verarbeiten in diesem Rahmen Daten
                    der Nutzer, um mit den dort aktiven Nutzern zu kommunizieren oder um Informationen über uns
                    anzubieten.</p>
                <p>Wir weisen darauf hin, dass dabei Daten der Nutzer außerhalb des Raumes der Europäischen Union
                    verarbeitet werden können. Hierdurch können sich für die Nutzer Risiken ergeben, weil so z. B. die
                    Durchsetzung der Rechte der Nutzer erschwert werden könnte.</p>
                <p>Ferner werden die Daten der Nutzer innerhalb sozialer Netzwerke im Regelfall für Marktforschungs- und
                    Werbezwecke verarbeitet. So können z. B. anhand des Nutzungsverhaltens und sich daraus ergebender
                    Interessen der Nutzer Nutzungsprofile erstellt werden. Die Nutzungsprofile können wiederum verwendet
                    werden, um z. B. Werbeanzeigen innerhalb und außerhalb der Netzwerke zu schalten, die mutmaßlich den
                    Interessen der Nutzer entsprechen. Zu diesen Zwecken werden im Regelfall Cookies auf den Rechnern
                    der Nutzer gespeichert, in denen das Nutzungsverhalten und die Interessen der Nutzer gespeichert
                    werden. Ferner können in den Nutzungsprofilen auch Daten unabhängig der von den Nutzern verwendeten
                    Geräte gespeichert werden (insbesondere, wenn die Nutzer Mitglieder der jeweiligen Plattformen sind
                    und bei diesen eingeloggt sind).</p>
                <p>Für eine detaillierte Darstellung der jeweiligen Verarbeitungsformen und der
                    Widerspruchsmöglichkeiten (Opt-Out) verweisen wir auf die Datenschutzerklärungen und Angaben der
                    Betreiber der jeweiligen Netzwerke.</p>
                <p>Auch im Fall von Auskunftsanfragen und der Geltendmachung von Betroffenenrechten weisen wir darauf
                    hin, dass diese am effektivsten bei den Anbietern geltend gemacht werden können. Nur die Anbieter
                    haben jeweils Zugriff auf die Daten der Nutzer und können direkt entsprechende Maßnahmen ergreifen
                    und Auskünfte geben. Sollten Sie dennoch Hilfe benötigen, dann können Sie sich an uns wenden.</p>
                <ul class="m-elements">
                    <li><strong>Verarbeitete Datenarten:</strong> Kontaktdaten (z. B. E-Mail, Telefonnummern);
                        Inhaltsdaten (z. B. Eingaben in Onlineformularen); Nutzungsdaten (z. B. besuchte Webseiten,
                        Interesse an Inhalten, Zugriffszeiten); Meta-, Kommunikations- und Verfahrensdaten (z. .B.
                        IP-Adressen, Zeitangaben, Identifikationsnummern, Einwilligungsstatus).</li>
                    <li><strong>Betroffene Personen:</strong> Nutzer (z. .B. Webseitenbesucher, Nutzer von
                        Onlinediensten).</li>
                    <li><strong>Zwecke der Verarbeitung:</strong> Kontaktanfragen und Kommunikation; Feedback (z. B.
                        Sammeln von Feedback via Online-Formular). Marketing.</li>
                    <li class=""><strong>Rechtsgrundlagen:</strong> Berechtigte Interessen (Art. 6 Abs. 1 S. 1 lit. f)
                        DSGVO).</li>
                </ul>
                <p><strong>Weitere Hinweise zu Verarbeitungsprozessen, Verfahren und Diensten:</strong></p>
                <ul class="m-elements">
                    <li><strong>Instagram: </strong>Soziales Netzwerk; <strong>Dienstanbieter:</strong> Meta Platforms
                        Ireland Limited, 4 Grand Canal Square, Grand Canal Harbour, Dublin 2, Irland; <span
                            class=""><strong>Rechtsgrundlagen:</strong> Berechtigte Interessen (Art. 6 Abs. 1 S. 1 lit.
                            f) DSGVO); </span><strong>Website:</strong> <a href="https://www.instagram.com"
                            target="_blank">https://www.instagram.com</a>. <strong>Datenschutzerklärung:</strong> <a
                            href="https://instagram.com/about/legal/privacy"
                            target="_blank">https://instagram.com/about/legal/privacy</a>.</li>
                </ul>
                <h2 id="m15">Änderung und Aktualisierung der Datenschutzerklärung</h2>
                <p>Wir bitten Sie, sich regelmäßig über den Inhalt unserer Datenschutzerklärung zu informieren. Wir
                    passen die Datenschutzerklärung an, sobald die Änderungen der von uns durchgeführten
                    Datenverarbeitungen dies erforderlich machen. Wir informieren Sie, sobald durch die Änderungen eine
                    Mitwirkungshandlung Ihrerseits (z. B. Einwilligung) oder eine sonstige individuelle Benachrichtigung
                    erforderlich wird.</p>
                <p>Sofern wir in dieser Datenschutzerklärung Adressen und Kontaktinformationen von Unternehmen und
                    Organisationen angeben, bitten wir zu beachten, dass die Adressen sich über die Zeit ändern können
                    und bitten die Angaben vor Kontaktaufnahme zu prüfen.</p>

                <h2 id="m42">Begriffsdefinitionen</h2>
                <p>In diesem Abschnitt erhalten Sie eine Übersicht über die in dieser Datenschutzerklärung verwendeten
                    Begrifflichkeiten. Soweit die Begrifflichkeiten gesetzlich definiert sind, gelten deren gesetzliche
                    Definitionen. Die nachfolgenden Erläuterungen sollen dagegen vor allem dem Verständnis dienen.</p>
                <ul class="glossary">
                    <li><strong>Personenbezogene Daten:</strong> "Personenbezogene Daten" sind alle Informationen, die
                        sich auf eine identifizierte oder identifizierbare natürliche Person (im Folgenden "betroffene
                        Person") beziehen; als identifizierbar wird eine natürliche Person angesehen, die direkt oder
                        indirekt, insbesondere mittels Zuordnung zu einer Kennung wie einem Namen, zu einer Kennnummer,
                        zu Standortdaten, zu einer Online-Kennung (z. B. Cookie) oder zu einem oder mehreren besonderen
                        Merkmalen identifiziert werden kann, die Ausdruck der physischen, physiologischen, genetischen,
                        psychischen, wirtschaftlichen, kulturellen oder sozialen Identität dieser natürlichen Person
                        sind. </li>
                    <li><strong>Verantwortlicher:</strong> Als "Verantwortlicher" wird die natürliche oder juristische
                        Person, Behörde, Einrichtung oder andere Stelle, die allein oder gemeinsam mit anderen über die
                        Zwecke und Mittel der Verarbeitung von personenbezogenen Daten entscheidet, bezeichnet. </li>
                    <li><strong>Verarbeitung:</strong> "Verarbeitung" ist jeder mit oder ohne Hilfe automatisierter
                        Verfahren ausgeführte Vorgang oder jede solche Vorgangsreihe im Zusammenhang mit
                        personenbezogenen Daten. Der Begriff reicht weit und umfasst praktisch jeden Umgang mit Daten,
                        sei es das Erheben, das Auswerten, das Speichern, das Übermitteln oder das Löschen. </li>
                </ul>
                <p class="seal"><a href="https://datenschutz-generator.de/"
                        title="Rechtstext von Dr. Schwenke - für weitere Informationen bitte anklicken." target="_blank"
                        rel="noopener noreferrer nofollow">Erstellt mit kostenlosem Datenschutz-Generator.de von Dr.
                        Thomas Schwenke</a></p>
            </div>
        </div>
    </div>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>

</body>

</html>