<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>Media</title>
    <style>
      body {
          background-image: url("https://lh3.googleusercontent.com/pw/ADCreHd-QHRTBEQh8HOjsxTPVimEIqw8u0mdqF9VHEbswwUiFwlq2mfZi7B7TmUzDER5U5iiJgH8SDfO1aS_Cbk7FPNMZxMuxVkaeSCqjFLkwyL7qB4ewu1aFE1fjPwulL3f0Wex7WOWO7yFw_cNM5Ap8tfeiehLBNSJ4qPGX700PGShePx9CzSXxTx_dMc0jUAEq6JpDNh1ipXMDfEMZGJ3YrhbzrAp8Hlv7Y_LW5QeCi51jBMh4oUPAOZvcdHTYJQe78qUcD1oj6GoGEQlKMWMmZMYUwNhb3LOHrjpnQ7cXJtOZ3vHUfyTZ1TezqQ2VfYx2P27SjFYwTNhce4fSGCYXCyKcVpvFX4WUuEtbl1Gpa07vKdoRkbIW2eaHh4BVXQt83X6BHSkc4y64jj-azcHTxYVsKBZiNpkC6fEJM6tr1V1D85B3icCJvWmfF2pXH2G5_iRJuPzorbz5iek5OLld2FILiN_spwo0Gbyt2_ZT-YC-cMn0IINPccBdGzPvjEQU4fmAaiDx3YMuCKyQIcyV_rK2emqkmGfD_ffMlheMbjhtgTX8SK4p8Gr3ewIWvj8F2W8er1s-0MJj-nc5h68dVP-ngHKP5XJ5K3zy9VIQA6IOEXE60W1MGE1M8BORwk_pmhLKKPXlOYtlNL2PdAeDrt79J2MVjB5bB9A16s2ZkxPeJOnhvgdCUd1rBXZox4ZEn8OoBv6PSecR1rPYdApujSsKoYEm-BbPitJEPINsPTj9-yIA8pL-Pan4lfOZD5IIs8K0vq27kooXzZGLd-_hXY1KIAwcEd5ycsqmow5HeD63csdNZnnZ80xNkKB9yAJNpf9epvmn2fNzb7SRYJCqYRD3qbNviGNBfZtIL76phl77nMY2gvIRaXWPA2xf6K6c24euuzM5OsbMCmImgKQgw8s=w2500-h1667-s-no?authuser=0");
          background-size: cover;
            background-repeat: no-repeat;
            height: 100vh;
            background-position: center;
            background-attachment: fixed;
      }
      h1 {
        color:white;
      }
    </style>
</head>
<body>
  <nav class="navbar navbar-expand-lg bg-black opacity-75 " data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">HaPo</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 justify-content-center">
         
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/references">Referenzen</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Media
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/audio">Audio</a></li>
              <li><a class="dropdown-item" href="/video">Video</a></li>
              <li><a class="dropdown-item" href="/pics">Bilder</a></li>
            </ul>
          </li>
          <li class="nav-item" id="nav-item-over">
            <a class="nav-link active"  aria-current="page" href="/contact">Kontakt</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Impressum</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container text-center" style="margin-top:2%; height:80%; width:auto;">
    <p style="text-align: center; color:white" id="picdesc"></p>
        <img src="" style="height: 100%; width: auto" id ="picture">
  </div>
  <div class="container text-center" style="margin-top:2%">
    <button style="padding-left:10px;"type="button" class="btn btn-dark" id="btnback">Back</button>
    <button style="padding-right:10px;"type="button" class="btn btn-secondary" id="btnnext">Next</button>
  </div>
  <script src="http://unpkg.com/axios/dist/axios.js"></script>
   <script src="/pics.js"></script>
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
 
</body>

</html>