
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>HOME</title>
    <style>
         body {
            background-image: url("https://lh3.googleusercontent.com/pw/ADCreHevVOS6ywGZbVOalYn-rZKr3ofeCSAsgwscQEqD28JwfNX9j2pHjXqn7UZn8sZ5SaJD1cfgVgsU7zSUqBaWUWABAIe-igsw4jHUz6mUQTpa80ximdomPSADQB1WbYQGW2PgYvjFuaVe5uwNbe830ku2PvFUrklivTD3MChEERVZX0nT2aPaCybQlCGA28lM1l_4f_InRRBwhfn5Q5-hl_90Edtv5OwdyIb9TWwe_JXhP2IIrqzwfRWcHK1WzLmF7bMvGAlSy6qyqpHj4h3cOhqHOIlGcrCgPBkYjwaxg1F5Y3jCbdiKLQAf3AKM7zK0IIbyRwsWlZ8SgpfAGJhRKSwxIo9dmWaQwNVO341ILTB1XVIw8XZ0PA8_Ic8C8AYM_82q_bkNHPB1cqSYIrOhydzuWDv-LStpf_7ur7QVNyrxlN_I1LAzZftyq1owDWrslTB-8VXD0QkXV4X2-PxktncxEY7mSFCm38qg5OfUm4BUEUZlUGPY3d5lduDSu_ep__8FydpyQRGtlpvzrP1l4DWMGAF1t9NiMQ2y-jT-QXB9ARvJ8W-a2ajeQbsDtF7eD8JauBFYTrLJqOA-HD40_V42upAwr-DxfBvxWH4eQeJogoqDqMe0AWxR3IeCw-TjGBmN-fen_UeFtwcreiKsSf8Uhrv_lhmk7J7AqB-HWTfUZTFyEGN-rqk362HOvj3wkF9FzFTfpobyt94fpo97jDwoXNKkXXRuAQzvttPK18ekhe5j8k9Y28c0LwhTuxdYXwiWOaIfYFHdDx-_wkinQKY_IBKQX_Ae_Ri8r7RgSJgxo4Q-sGPMm1J1xTQC_DVKDjxNsZ45gJws0m2aBYWiStBAqU-ftqHT3BVpi_sVPivCiftNN09fzQKEKHKGr-SoFeL9jf6CQsHXfFa4vsyyvz4j=w1920-h1281-s-no?authuser=0");
            background-size: cover;
        }
      </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-black opacity-75 " data-bs-theme="dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">HaPo</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 justify-content-center">
             
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/references">Referenzen</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Media
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="/audio">Audio</a></li>
                  <li><a class="dropdown-item" href="/video">Video</a></li>
                  <li><a class="dropdown-item" href="/pics">Bilder</a></li>
                </ul>
              </li>
              <li class="nav-item" id="nav-item-over">
                <a class="nav-link active"  aria-current="page" href="/contact">Kontakt</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Impressum</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

      <div class="container text-center">
        <div class="row align-items-center" style="margin-top: 13%;">
          <div class="col">
            <div class="card text-bg-dark mb-3" style="width: 18rem; height:32rem">
                <img src="https://lh3.googleusercontent.com/pw/ADCreHcM68tFy3EUMIQFPOeb52dIVrsIi82QGjFYw6oNHuqjXj7zF3h8QjWopo_0UK6POW7aYt5heaVexMuLGQeb67yfOEvofQ-y4qesAe04_C0TwB42d9T4SkOZRhJhS6vdkXK4b17vXA59abRSRsJMiMxDiAKQm8As_AAJ6a-Ofdx4S4oH3SgfTSmK6u8pNi4xpU33NuYETYEX_FdIt5CAJ2qWO96pjQXZ-9_-Wbt-Yjh8jUS3EwGnxK3XDISbCwAYKJmZQtQwQT64P7-fTy7GrFCyZPvCTc69JLGfSNf3HakYCDwK2Fra9rm2FHJdQo1gN7CuS9HU5_DLwWaqRmNtG37ozJ3fqE5YvYwA2pfAeDis-47AbV9hW8-_cJD2-jm6kvIHC-eo953T1cbtNDxiANtGsOr17ON6v2HaWV37t-j_GDqf8AI544z8pu-scK_U7z-aeUFBuTc1Dp4gjdN9t0cPGnSVwAnNdv87CefHUfepXIFiZO3uHTu3Mm-rmnZV5i5r7isO3eeitThNcBrCcwOiAjlnVdTQf8_j1LlMs4sCF7N1IIc7d3W1sSbo7b7eYX-u1li6Gl6HqVvHKUkf5Fr1uluqLPmPXrKANVFqd_4uDjigc-IZNmO61Y0omAVVm2baNprvSlXngTSRiztRQDpxR5WHokbYqwDE5-axtwKyGOPFZELfIq0V72aJmXfeQv6JAnMPIW1tIA2krqyRV-oWRH4YCpY_eNaAAiD3ZKrgLPB_9Wyy4zEkKasbif8oI7f6xiS5mcNcUglXoAj7V1R4pFM6ipYbO4bHlnia_sZUTul7_ISoSdozSWMjnJpZz4k79_BInYzw_Ha-yo7GuwdPFCpFtuHdvcnDDJf4So3TwZd8B1jc_Lth1MNpiMIcDmW1wEjMEVfI2tfw_983d295=w979-h1179-s-no?authuser=0" class="card-img-top" alt="Live 2023 mit LEA" style="height:15rem; width:auto; object-fit: cover;" >
                <div class="card-body">
                  <h5 class="card-title">Live</h5>
                  <p class="card-text">Live auf der Bühne darf und durfte ich schon mit tollen Musiker*innen spielen wie: <b> LEA, Mine, Mighty Oaks, Millie Turner, Fatoni, Novaa, Marie Bothmer, Ian Hooper, ClockClock, Georg Stengel, Bosse (mit Lea), Casper (mit Lea), und Myle. </b>  </p>
                  
                </div>
              </div>
          </div>
          <div class="col">
            <div class="card text-bg-dark mb-3" style="width: 18rem; height:32rem; background-color: black;">
                <img src="https://lh3.googleusercontent.com/pw/ADCreHd_r4TgqSyCC7GQ-oSJQ0ykhufsuCXOT-P_Ofp0lwlUkG8x5J1TKhDQJJ3MIUId_sHBWUuV_axlzEJB9BV2APSX2n1Lq9JiAkCMoFmzFXc83OhJBeoJBd4zIV1O38tebSMon9okN1Z4hcQz7IAMynZkdF0ZM4EowXHwDY_lxmxrmrjJqx4zGKUj8lmqybmELXrxLz0AUOnVlwA6MU94WfEtDTCZrwt_tU8VK6IscHoIqw3xLx855vX-lg1TVUvycYROCLE1ZfIhxWekvnBry6Opa81oBmawDON6qzkZm5y_OG2K2z0sYr4BWyckRPxfr9-ZEwhVbtiq7ynrEVddQoAerOSIvAmjL_hjfHDB-Xal8lGskWee6JWU40oDkS38wbg4mC0v8G71GccS3pkYTqlJk6Z4yy1VEQsiUYOPPPBAng8BamM-gMK7Jzoaho2hHh5EYEA5b4_Xd876JhPTvSfb79iQhAadogclMkpIVSQlCeSo2aCQZYT7qcBeOW7lNhLf3RnBJ0XOq-R02yqaIktYe_WuWHfk8hf_JNaSBW7XoP-0luGgrYHrnpVckKRxyk-B523r7XxCz8VGuQdtcyJc_NlTsvVBQGQePU4D6oH8AE0zaY7vJTZ4gQ184IiZML5tzkCOX_cn2K8ho1yPuavPfrRtdFoYVfFolB3hZI4U9rtK9blMZblAeghhwv5ufIWBu_-_ZmPF4JT1SCWumJq2YJXuKvfe-dVp51FEx3jvZ2N17QkBfGqsVcAlIlT0zO5DhLrO3HNCuUQtjZnuxDDW-2Ki8PS99K6Uudgt3dMEo-dmeCUqT4oTok8nHmR4xhgZCiSD9_nZUY5TlvSvmvZ218Zg1_GsvJUEJ3mg0_slJCmBT4eUB-sGsxxQX_vpBBxTnxlNHP4NsazSCGgx6OQr=w1000-h1080-s-no?authuser=0" class="card-img-top" alt="insta foto @iamhapo" style="height:15rem; width:auto; object-fit: cover;">
                <div class="card-body">
                  <h5 class="card-title">Studio</h5>
                  <p class="card-text">Gitarren und sonstige Instrumente habe ich aufgenommen für: <b>LEA, Mine, Marie Bothmer, Glockenbach, ClockClock, Ian Hooper, Mougleta, Stanowski, Mille, Novaa, 29, Myle und Mike Singer. </b>Mehr dazu könnt ihr unter <a href="/audio">Medien</a> hören. </p>
                  
                </div>
              </div>
          </div>
          <div class="col">
            <div class="card text-bg-dark mb-3" style="width: 18rem; height:32rem">
                <img src="https://lh3.googleusercontent.com/pw/ADCreHctIf83VidxsTB3P2QB9CqbLDNqaOM1RNPC7z6Mh0KUVZCHcjvbLrwp79dqkI4D00fJzjuXGw9H_jcV0zPrXAT1ORuwLvDmKstXRiTXjJxXJLMQWk0ZLHH87pW9pDP8FTmHQyhb_79WcLF_tMgoyqxtfpR97FpeTm5pkYVpIpLh-nCU4ukkV5XO7JRMuDXSRV_UIgSoFKZ0OWabICscW22UkyRD8VmYQzMDw3F5a77lfC0DqAKOISxQLjiT4uUIUGgApRzJxwmMKlT9LqTyyLB01VJTU9mZXYdaUD3rPSOZfISdfZBN181mThj7_mG_84Bt8HK9ZE3F_qaCCNR2AH0SPnF6QnJ6YyESEsHvRsZz_Jh5xA--AgSxOdepXf2Ly6g5yA2KzM-G95f0Ha7upALw-dsZ0uSavWIiXGPHqGEKmj_jMVhPkDGoJJIgEg-o1IpNWP64UG8Q2pJpGSFOp744ZwEURfWN4aEjYsvTwje5ElsjdtY_AcLyETokQWhjZxN_LJQatz7PPBDskfc4-5BrNQzIadMoBUSw8GOAAD_d3aam4rumRB3w9T4n35SO5bmSyZ-iKmMasJQMOha-BK5H_gRgR33-HCCHtKFHjCJVl7CpBbHUU95MfFgPkwd5hMA0Aws4AvcrvAn13BIzrh3hDRLkQWYXfgLShA1K8_IAi3QkBv4OJ8sM9di3keFCMqLoacq1Mj3xxnB3QOKZwwKENqYnT7MEU999zV-vVbUqwls5Rwn2ClBInkknyoa_B3ouQ4lCwm3QIfZVS1zcxL5SLxs14rHsLHZe_rbF-EzI265u1G8gOxBBkRqjMzrx0Elo5YvvidUeVtc1XxPd8vf46HvMoixhSesQn4GXvAORBF9GG2xjKSiEc0AwG-eGIFpOsoqX6eHsh4y1PFnZ2J3c=w1000-h1200-s-no?authuser=0" class="card-img-top" alt="Instagram Foto @iamhapo" style="height:15rem; width:auto; object-fit: cover;">
                <div class="card-body">
                  <h5 class="card-title">Songwriting</h5>
                  <p class="card-text">Seit Anfang 2020 habe ich u.a. mit <b>ClockClock, Stanowski, Mougleta und Mille </b> Songs geschrieben. Auch hier könnt ihr mehr unter <a href="/audio">Medien</a> hören.</p>
                  
                </div>
              </div>
          </div>
        </div>
      </div>

      
    
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
 
</body>

</html>"
       